PORT=3000
JWT_SECRET="test"

CLIENT_URL=""
    
GOOGLE_AI_API_KEY="test"

AWS_DYNAMODB_ENDPOINT_URL="http://localhost:8000"
AWS_REGION="us-west-2"
AWS_ACCESS_KEY_ID="test"
AWS_SECRET_ACCESS_KEY="test"

GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
